Source: ros1-ign-bridge
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               ros-melodic-catkin,
               ros-melodic-geometry-msgs,
               ros-melodic-message-generation,
               ros-melodic-roscpp,
               ros-melodic-rosgraph-msgs,
               ros-melodic-rostest,
               ros-melodic-sensor-msgs,
               ros-melodic-std-msgs,
               ros-melodic-std-srvs,
               libignition-msgs3-dev (>= 3.1.0),
	       libignition-transport6-dev
Vcs-Browser: https://github.com/osrf/ros1_ign_bridge/
Vcs-Hg: https://github.com/osrf/ros1_ign_bridge/
Homepage: http://ignitionrobotics.org/

Package: ros1-ign-bridge
Architecture: any
Depends: ros-melodic-geometry-msgs,
         ros-melodic-message-runtime,
         ros-melodic-roscpp,
         ros-melodic-rosgraph-msgs,
         ros-melodic-rostest,
         ros-melodic-sensor-msgs,
         ros-melodic-std-msgs,
         ros-melodic-std-srvs,
         libignition-msgs3-dev (>= 3.1.0),
         libignition-transport6-dev,
         ${misc:Depends}
Multi-Arch: foreign
Description: Bridge between Ignition messages and ROS1 messages
 This package provides a network bridge which enables the exchange of messages
 between ROS 1 and Ignition Transport.
 .
 App

Package: ros1-ign-bridge-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
    drcsim7 (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for ros1-ign-bridge
 This package provides a network bridge which enables the exchange of messages
 between ROS 1 and Ignition Transport.
 .
 Debug symbols
