Source: ros1-ign-bridge
Standards-Version: 3.9.5
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: debhelper (>= 11),
               ros-melodic-roscpp,
               ros-melodic-std-msgs,
               ros-melodic-std-srvs,
               ros-melodic-message-generation,
  	       libignition-common3-dev,
	       libignition-transport6-dev
Vcs-Browser: https://github.com/osrf/ros1_ign_bridge/
Vcs-Hg: https://github.com/osrf/ros1_ign_bridge/
Homepage: http://ignitionrobotics.org/

Package: ros1-ign-bridge
Architecture: any
Depends: ros-melodic-roscpp,
         ros-melodic-std-msgs,
         ros-melodic-std-srvs,
         ros-melodic-message-runtime,
         libignition-common3-dev,
         libignition-transport6-dev,
         ${misc:Depends}
Multi-Arch: foreign
Description: Bridge between Ignition messages and ROS1 messages
  This package provides a network bridge which enables the exchange of messages
  between ROS 1 and Ignition Transport.
