#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export DH_OPTIONS=-v

%:
	dh  $@

CATKIN_WS := $(CURDIR)/debian/catkin/bridge_ws/


override_dh_auto_clean:
	$(RM) -fr $(CATKIN_WS)

override_dh_auto_configure:
	# Pull in ROS
	$(RM) -fr $(CATKIN_WS) && \
	. "/opt/ros/melodic/setup.sh" && \
	mkdir -p $(CATKIN_WS)/src && \
	cd $(CATKIN_WS)/src && \
	ln -s $(CURDIR) .

override_dh_auto_build:
	# Pull in ROS
	. "/opt/ros/melodic/setup.sh" && \
	rosdep update && \
	cd $(CATKIN_WS) && \
	ls -R && \
	catkin_make --cmake-args \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
                -DCATKIN_BUILD_BINARY_PACKAGE="1" \
                -DCMAKE_INSTALL_PREFIX="/opt/ros/melodic" \
                -DCMAKE_PREFIX_PATH="/opt/ros/melodic"

override_dh_shlibdeps:
	. "/opt/ros/melodic/setup.sh" && \
	dh_shlibdeps

override_dh_auto_install:
	. "/opt/ros/melodic/setup.sh" && \
	cd $(CATKIN_WS) && \
	DESTDIR=/opt/ros/melodic catkin_make install

override_dh_auto_test:
	echo -- Skipping tests
	#dh_auto_test
	true

override_dh_strip:
	dh_strip --dbg-package=ros1-ign-bridge-dbg
